<footer class="footer">
	<div class="footer__col footer__col_half">
		<h2 class="footer__title">Services</h2>
		<a href="#" class="footer__text footer__text_indent">Professional services</a>
		<a href="#" class="footer__text footer__text_indent">Hardware distribution, logistics and staging</a>
		<a href="#" class="footer__text footer__text_indent">Maintenance</a>
		<h2 class="footer__title">About us</h2>
		<h2 class="footer__title">Jobs</h2>
		<h2 class="footer__title">Coverage</h2>
	</div>
	<div class="footer__col footer__col_half">
		<h2 class="footer__title">Cases</h2>
		<a href="#" class="footer__text footer__text_indent">Link 1</a>
		<a href="#" class="footer__text footer__text_indent">Link 2</a>
		<a href="#" class="footer__text footer__text_indent">Link 3</a>
		<a href="#" class="footer__text footer__text_indent">Link 4</a>
		<a href="#" class="footer__text footer__text_indent">Link 5</a>
	</div>
	<div class="footer__col footer__col_contact">
		<div class="footer__col">
			<h2 class="footer__title">Contact us</h2>  
			<a class="footer__text" href="mailto:info@latit.com">info@latit.com</a>
			<h1 class="footer__title footer__title_big">UK <a href="tel:442032909909">+44 2032 909 909</a></h1>
			<h1 class="footer__title footer__title_big">USA <a href="tel:16466526512">+1 646 652 6512</a></h1>
			<h1 class="footer__title footer__title_big">ARG <a href="tel:541181241224">+54 11 8124 1224</a></h1>
		</div>
		<div class="footer__col">
			<input type="text" class="input" placeholder=">> Your e-mail" />
			<textarea class="textarea" placeholder=">> Message"></textarea>
			<input type="submit" class="button" value="Send" />
		</div>
	</div>
</footer>
<div class="bar">&copy; 2018 Latin America IT | All rights reserved</div>
<script type="text/javascript" src="js/app.js"></script>