<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="Keywords" content="ICT Services, LatinAmerica, IT, global, routers, switches, wifi survey,">
    <meta name="author" content="LatinAmerica IT LLC">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="HandheldFriendly" content="True">
    <link rel="favicon" type="application/atom+xml" title="" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>LatinAmericaIT - {{{title}}}</title>
</head>
<body>
    <!-- build:js -->
    <script src="js/app.js"></script>
    <!-- endbuild -->
    <div class="container">
        <header class="header">
            <a href="/" class="header__logo">
                <!-- <svg width="150px" height="150px" version="1.1" viewBox="0 0 2560 1440" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/></cc:Work></rdf:RDF></metadata><defs><linearGradient id="b" x2="1" gradientTransform="matrix(-98.607 -98.607 -98.607 98.607 732.72 605.55)" gradientUnits="userSpaceOnUse"><stop stop-color="#25634a" offset="0"/><stop stop-color="#25634a" offset="2e-7"/><stop stop-color="#52b58d" offset="1"/></linearGradient><linearGradient id="a" x2="1" gradientTransform="matrix(110.09 0 0 -110.09 637.18 565.49)" gradientUnits="userSpaceOnUse"><stop stop-color="#25634a" offset="0"/><stop stop-color="#25634a" offset="2e-7"/><stop stop-color="#52b58d" offset="1"/></linearGradient><linearGradient id="c" x2="1" gradientTransform="matrix(70.222 70.222 70.222 -70.222 663.02 537.07)" gradientUnits="userSpaceOnUse"><stop stop-color="#25634a" offset="0"/><stop stop-color="#25634a" offset="2e-7"/><stop stop-color="#52b58d" offset="1"/></linearGradient></defs><g transform="matrix(1.3333 0 0 -1.3333 0 1440)"><text transform="matrix(1 0 0 -1 830.16 453.66)" fill="#666666" font-family="Exo" font-size="40.616px"><tspan x="0 20.91724 45.571152 67.869339 76.683006 103.73326 130.41797 162.82954 185.98067 209.98473 218.79839 241.70581 268.39053" y="0">LATINAMERICA </tspan><tspan x="278.66638 287.48004" y="0">IT</tspan><tspan x="309.77823" y="0"> </tspan><tspan x="320.05408 340.97131 361.68549" y="0">LLC</tspan></text>
                <g transform="translate(833.16 508.68)"><path d="m0 0v107.3h14.648v-94.116h48.487v-13.184z" fill="#666"/></g><g transform="translate(943.25 589.32)"><path d="m0 0-16.626-47.241h31.86zm26.807-80.64-7.397 22.632h-39.918l-7.91-22.632h-16.406l43.579 108.76h3.882l40.43-108.76z" fill="#666"/></g><g transform="translate(1022.1 602.79)"><path d="m0 0v-94.116h-14.648v94.116h-34.131v13.184h84.448v-13.184z" fill="#666"/></g><path d="m1072.7 615.98h14.648v-107.3h-14.648z" fill="#666"/><g transform="translate(1181.2 507.21)"><path d="m0 0-55.444 78.442v-76.977h-13.916v107.3h5.859l53.98-74.195v74.195h13.916v-108.76z" fill="#666"/></g><path d="m1210.1 615.98h14.648v-107.3h-14.648z" fill="#52ab8d"/><g transform="translate(1288.4 602.79)"><path d="m0 0v-94.116h-14.648v94.116h-34.131v13.184h84.448v-13.184z" fill="#52ab8d"/></g><path d="m595.86 551.64c0-45.807 37.134-82.941 82.941-82.941 45.808 0 82.942 37.134 82.942 82.941 0 45.809-37.134 82.943-82.942 82.943-45.807 0-82.941-37.134-82.941-82.943" fill="url(#b)"/><path d="m637.18 565.9c0-29.042 22.497-52.814 51.014-54.88-0.072-0.01-0.142-0.023-0.215-0.033 34.669-5.197 52.337 12.567 52.337 12.567l-3.543 1.181-5.766 2.113c10.039 9.972 16.258 23.784 16.258 39.052 0 30.401-24.643 55.044-55.042 55.044-30.4 0-55.043-24.643-55.043-55.044" fill="url(#a)"/><path d="m651.22 616.11 6.936-6.577c-10.721-10.043-17.429-24.318-17.429-40.167 0-29.043 22.497-52.814 51.013-54.881-0.072-0.01-0.142-0.023-0.213-0.033 34.669-5.197 48.792 9.103 48.792 9.103l-5.766 6.759c10.04 9.97 16.26 23.784 16.26 39.052 0 27.957-20.848 51.029-47.842 54.558 0.048 6e-3 0.094 0.014 0.141 0.018-5.668 0.688-10.822 0.979-15.483 0.979-25.653 0-36.409-8.811-36.409-8.811" fill="url(#c)"/></g></svg> !-->
            </a>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav-item"><a href="services">Professional Services</a></li>
                    <li class="header__nav-item"><a href="hardware">Hardware Distribution, Logistics and Staging</a></li>
                    <li class="header__nav-item"><a href="maintenance">Maintenance</a></li>
                </ul>
                <ul class="header__nav__secondary">
                    <li class="header__nav__secondary-item"><a href="company">Company</a></li>
                    <li class="header__nav__secondary-item"><a href="jobs">Jobs</a></li>
                    <li class="header__nav__secondary-item"><a href="coverage">Coverage</a></li>
                </ul>
            </nav>
            <div class="header__topbar">
                <a class="header__topbar-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18.049" height="13.23" viewBox="0 0 18.049 13.23"><path fill="#FFF" d="M15.996 0H2.082C.922 0 0 .922 0 2.08v9.07c0 1.16.92 2.08 2.082 2.08h13.884c1.16 0 2.082-.92 2.082-2.08V2.08C18.078.923 17.125 0 15.996 0zM2.082 1.19h13.884c.09 0 .178 0 .27.028l-7.197 5.53-7.197-5.53c.09-.03.178-.03.24-.03zm14.805 9.93c0 .505-.385.892-.89.892H2.08c-.506 0-.893-.387-.893-.892V2.2l7.848 6.036 7.85-6.006v8.89z"/></svg></a>
                <ul class="header__topbar-item">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">ES</a></li>
                </ul>
            </div>
        </header>
        {{{body}}}
        <footer class="footer">
            <div class="footer__col footer__col_half">
                <a href="about" class="footer__title">About us</a>
                <br>
                <a href="jobs" class="footer__title">Jobs</a>
                <br>
                <a href="coverage" class="footer__title">Coverage</a>
            </div>
            <div class="footer__col footer__col_half">
                <h2 class="footer__title">Services</h2>
                <a href="services" class="footer__text footer__text_indent">Professional services</a>
                <a href="hardware" class="footer__text footer__text_indent">Hardware distribution, logistics and staging</a>
                <a href="maintenance" class="footer__text footer__text_indent">Maintenance</a>
            </div>
            <div class="footer__col footer__col_contact">
                <div class="footer__col">
                    <h2 class="footer__title">Contact us</h2>  
                    <a class="footer__text" href="mailto:info@latinamerica-it.com">info@latinamerica-it.com</a>
                    <h1 class="footer__title footer__title_big">USA <a href="tel:13059219559">(+1 305) 921-9559</a></h1>
                    <h1 class="footer__title footer__title_big">ARG <a href="tel:541145902295">(+54 11) 4590-2295</a></h1>
                    <br>
                    <h1 class="footer__title footer__title_big">2332 Galiano Str 2nd Floor (Coral Gables, FL 33134 - USA)</h1>
                </div>
                <div class="footer__col">
                    <input type="text" class="input" placeholder=">> Your e-mail" />
                    <textarea class="textarea" placeholder=">> Message"></textarea>
                    <input type="submit" class="button" value="Send" />
                </div>
            </div>
        </footer>
        <div class="bar">&copy; 2017 Latin America IT | All rights reserved</div>
        <script type="text/javascript" src="js/app.js"></script>
    </div>
</body>
</html>