<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="Keywords" content="ICT Services, LatinAmerica, IT, global, routers, switches, wifi survey,">
    <meta name="author" content="LatinAmerica IT LLC">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="HandheldFriendly" content="True">
    <link rel="favicon" type="application/atom+xml" title="" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>LatinAmericaIT - {{{title}}}</title>
</head>
<body>
    <!-- build:js -->
    <script src="js/app.js"></script>
    <!-- endbuild -->
    <div class="container">
        <header class="header">
            <a href="/" class="header__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="119.542" height="115.071" viewBox="0 0 119.542 115.071"><path fill="#52AB8E" d="M34.25 0h6.583L24 40.01h17.226v5.79h-26.19L34.25 0z"/><path fill="#52AB8E" d="M33.368 34.378L47.823.095h4.506l19.313 45.8H64.8l-4.64-11.517H33.37zm24.688-5.264l-8.028-20.07-8.063 20.07h16.09zM34.438 56.646h-17.34l-2.385-5.79h38.8l2.384 5.79H41.02l17.128 40.01h-6.58l-17.13-40.01z"/><linearGradient id="logo" gradientUnits="userSpaceOnUse" x1="76.014" y1="59.362" x2="86.648" y2="82.546"><stop offset="0"/><stop offset="1" stop-color="#676767"/></linearGradient><path fill="url(#logo)" d="M65.212 50.857h4.736l23.92 33.79-.36-4.737V50.857h6.513v45.798h-4.704L75.346 68.59l-3.98-5.725.36 5.726v28.065h-6.514V50.857z"/><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="51.096" y1="70.793" x2="61.731" y2="93.977"><stop offset="0"/><stop offset="1" stop-color="#676767"/></linearGradient><path fill="url(#b)" d="M51.654 61.71h6.58v34.945h-6.58V61.71z"/><g><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="60.733" y1="66.372" x2="71.368" y2="89.556"><stop offset="0"/><stop offset="1" stop-color="#676767"/></linearGradient><path fill="url(#c)" d="M51.654 50.857h6.58v5.79h-6.58v-5.79z"/></g><path fill="#52AB8E" d="M48.343 73.755l9.805 22.9h-6.58l-8.044-18.79"/><g><path fill="#676767" d="M0 107.415h1.08v6.57h3.222v.95H0v-7.52zM8.694 107.415h.74l3.172 7.52h-1.124l-.762-1.89H7.38l-.756 1.89H5.522l3.172-7.52zm1.68 4.766l-1.317-3.296-1.324 3.297h2.642zM16.09 108.365h-2.263v-.95h5.61v.95H17.17v6.57h-1.08v-6.57zM21.38 107.415h1.082v7.52h-1.08v-7.52zM24.796 107.415h.778l3.93 5.55-.06-.778v-4.77h1.07v7.52h-.773l-3.28-4.61-.653-.94.06.94v4.61h-1.07v-7.522zM35.327 107.415h.74l3.172 7.52h-1.125l-.762-1.89h-3.34l-.756 1.89h-1.102l3.172-7.52zm1.68 4.766l-1.317-3.296-1.324 3.297h2.642zM40.833 107.415h.69l2.682 3.08 2.67-3.08h.69v7.52h-1.08v-5.728l-.32.433-1.96 2.286-1.963-2.28-.33-.433v5.723h-1.08v-7.52zM49.846 107.415h4.858v.94h-3.777v2.215h2.858v.907h-2.858v2.508h3.777v.95h-4.858v-7.52zM57.054 107.415h2.135c1.422 0 2.34.42 2.75 1.264.147.31.222.657.222 1.045s-.052.714-.154.98c-.104.267-.246.495-.43.687-.354.367-.84.61-1.46.725.257.79.69 1.332 1.304 1.63.2.103.37.157.508.163.23.008.393 0 .486-.02v1.048h-.244c-.81 0-1.5-.288-2.07-.865-.5-.5-.836-1.13-1.01-1.89h-.956v2.755h-1.08v-7.523zm2.064 3.9c.652 0 1.135-.125 1.448-.378.313-.252.47-.645.47-1.178 0-.71-.33-1.168-.988-1.373-.23-.072-.51-.11-.838-.11h-1.075v3.038h.983zM64.1 107.415h1.08v7.52H64.1v-7.52zM72.632 114.894c-.356.064-.836.098-1.44.098s-1.147-.084-1.632-.25c-.484-.165-.9-.41-1.25-.734-.75-.695-1.125-1.664-1.125-2.907 0-.81.193-1.512.578-2.106.523-.804 1.324-1.315 2.405-1.534.33-.065.728-.098 1.187-.098s.827.025 1.105.076v1.03c-.253-.077-.643-.118-1.17-.118-.528 0-.977.065-1.344.195-.367.13-.672.314-.913.557-.483.472-.724 1.14-.724 2 0 .867.236 1.556.712 2.063.516.548 1.256.82 2.22.82.567 0 1.03-.042 1.39-.128v1.037zM77.128 107.415h.74l3.172 7.52h-1.124l-.763-1.89h-3.34l-.756 1.89h-1.102l3.173-7.52zm1.68 4.766l-1.318-3.296-1.324 3.297h2.642z"/><path fill="#52AB8E" d="M83.356 107.415h1.08v7.52h-1.08v-7.52zM88.62 108.365h-2.265v-.95h5.61v.95H89.7v6.57h-1.08v-6.57z"/><path fill="#676767" d="M98.69 107.415h1.08v6.57h3.222v.95H98.69v-7.52zM104.9 107.415h1.08v6.57h3.22v.95h-4.3v-7.52zM116.22 114.894c-.357.064-.838.098-1.44.098-.604 0-1.147-.084-1.632-.25-.484-.165-.902-.41-1.252-.734-.75-.695-1.123-1.664-1.123-2.907 0-.81.192-1.512.578-2.106.522-.804 1.325-1.315 2.405-1.534.332-.065.727-.098 1.186-.098.46 0 .83.025 1.106.076v1.03c-.252-.077-.643-.118-1.17-.118s-.975.065-1.343.195c-.367.13-.672.314-.913.557-.482.472-.725 1.14-.725 2 0 .867.238 1.556.714 2.063.514.548 1.254.82 2.22.82.565 0 1.028-.042 1.39-.128v1.037zM118.782 115.07c-.218 0-.398-.058-.54-.175-.143-.117-.214-.286-.214-.508 0-.22.07-.392.214-.51.142-.12.322-.18.54-.18.22 0 .4.06.543.18.145.118.217.29.217.51 0 .222-.072.39-.217.508-.143.118-.324.176-.543.176z"/></g></svg>
            </a>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav-item"><a href="services">Professional Services</a></li>
                    <li class="header__nav-item"><a href="hardware">Hardware Distribution, Logistics and Staging</a></li>
                    <li class="header__nav-item"><a href="maintenance">Maintenance</a></li>
                </ul>
                <ul class="header__nav__secondary">
                    <li class="header__nav__secondary-item"><a href="company">Company</a></li>
                    <li class="header__nav__secondary-item"><a href="jobs">Jobs</a></li>
                    <li class="header__nav__secondary-item"><a href="coverage">Coverage</a></li>
                </ul>
            </nav>
            <div class="header__topbar">
                <a class="header__topbar-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18.049" height="13.23" viewBox="0 0 18.049 13.23"><path fill="#FFF" d="M15.996 0H2.082C.922 0 0 .922 0 2.08v9.07c0 1.16.92 2.08 2.082 2.08h13.884c1.16 0 2.082-.92 2.082-2.08V2.08C18.078.923 17.125 0 15.996 0zM2.082 1.19h13.884c.09 0 .178 0 .27.028l-7.197 5.53-7.197-5.53c.09-.03.178-.03.24-.03zm14.805 9.93c0 .505-.385.892-.89.892H2.08c-.506 0-.893-.387-.893-.892V2.2l7.848 6.036 7.85-6.006v8.89z"/></svg></a>
                <ul class="header__topbar-item">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">ES</a></li>
                </ul>
            </div>
        </header>
        {{{body}}}
        <footer class="footer">
            <div class="footer__col footer__col_half">
                <a href="about" class="footer__title">About us</a>
                <br>
                <a href="jobs" class="footer__title">Jobs</a>
                <br>
                <a href="coverage" class="footer__title">Coverage</a>
            </div>
            <div class="footer__col footer__col_half">
                <h2 class="footer__title">Services</h2>
                <a href="services" class="footer__text footer__text_indent">Professional services</a>
                <a href="hardware" class="footer__text footer__text_indent">Hardware distribution, logistics and staging</a>
                <a href="maintenance" class="footer__text footer__text_indent">Maintenance</a>
            </div>
            <div class="footer__col footer__col_contact">
                <div class="footer__col">
                    <h2 class="footer__title">Contact us</h2>  
                    <a class="footer__text" href="mailto:info@latinamerica-it.com">info@latinamerica-it.com</a>
                    <h1 class="footer__title footer__title_big">USA <a href="tel:13059219559">(+1 305) 921-9559</a></h1>
                    <h1 class="footer__title footer__title_big">ARG <a href="tel:541145902295">(+54 11) 4590-2295</a></h1>
                    <br>
                    <h1 class="footer__title footer__title_big">2332 Galiano Str 2nd Floor (Coral Gables, FL 33134 - USA)</h1>
                </div>
                <div class="footer__col">
                    <input type="text" class="input" placeholder=">> Your e-mail" />
                    <textarea class="textarea" placeholder=">> Message"></textarea>
                    <input type="submit" class="button" value="Send" />
                </div>
            </div>
        </footer>
        <div class="bar">&copy; 2017 Latin America IT | All rights reserved</div>
        <script type="text/javascript" src="js/app.js"></script>
    </div>
</body>
</html>