    <div class="software-manufacturers">    
        <div class="software-manufacturers__inner">
            <p class="main__subtitle main__subtitle_padding">Connectivity providers offering <span class="highlight">cost-effective, business-grade connectivity</span> of various contract terms, utilizing the following technologies:</p>
            <p class="main__subtitle highlight">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.141" height="14.815" viewBox="0 0 17.141 14.815"><path fill="#53AB8D" d="M0 5.582v8.08c0 .303.123.6.338.814.215.215.513.34.816.34h9.925v-2.31H2.31V5.582H0z"/><path fill="#FFF" d="M4.664 7.396l2.54 2.54c.218.22.507.34.815.34.306 0 .596-.12.813-.338L17.14 1.63 15.51 0 8.02 7.492 6.295 5.767l-1.63 1.63z"/></svg>
                <span>3G / 4G Mobile connectivity</span>
            </p>
            <p class="main__subtitle highlight">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.141" height="14.815" viewBox="0 0 17.141 14.815"><path fill="#53AB8D" d="M0 5.582v8.08c0 .303.123.6.338.814.215.215.513.34.816.34h9.925v-2.31H2.31V5.582H0z"/><path fill="#FFF" d="M4.664 7.396l2.54 2.54c.218.22.507.34.815.34.306 0 .596-.12.813-.338L17.14 1.63 15.51 0 8.02 7.492 6.295 5.767l-1.63 1.63z"/></svg>
                <span>Satellite connectivity</span>
            </p>
            <p class="main__subtitle highlight">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.141" height="14.815" viewBox="0 0 17.141 14.815"><path fill="#53AB8D" d="M0 5.582v8.08c0 .303.123.6.338.814.215.215.513.34.816.34h9.925v-2.31H2.31V5.582H0z"/><path fill="#FFF" d="M4.664 7.396l2.54 2.54c.218.22.507.34.815.34.306 0 .596-.12.813-.338L17.14 1.63 15.51 0 8.02 7.492 6.295 5.767l-1.63 1.63z"/></svg>
                <span>Broadband access</span>
            </p>
            <p class="main__subtitle highlight">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.141" height="14.815" viewBox="0 0 17.141 14.815"><path fill="#53AB8D" d="M0 5.582v8.08c0 .303.123.6.338.814.215.215.513.34.816.34h9.925v-2.31H2.31V5.582H0z"/><path fill="#FFF" d="M4.664 7.396l2.54 2.54c.218.22.507.34.815.34.306 0 .596-.12.813-.338L17.14 1.63 15.51 0 8.02 7.492 6.295 5.767l-1.63 1.63z"/></svg>
                <span>Dedicated internet Access</span>
            </p>
        </div>
    </div>
