<main class="main">
	<div class="main__featured">
		<h2 class="main__title">Our mission, professional services<br />within the Latinamerica region</h2>
		<p class="main__subtitle">Wide coverage and a huge recognition from our competitors</p>
		<button class="button"><a href="#">Go to coverage</a></button>
		<div class="main__featured-services">
			<div class="main__featured-services-item">
				<img src="images/services-1.jpg" alt="Professional services" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">professional services</h2>
					<p class="main__featured-services-text">Leading projects engineers and delivery of IT engineers for On-Site in the whole region.</p>
					<a href="services"><button class="button button_blue">See more</button></a>
				</div>
			</div>
			<div class="main__featured-services-item">
				<img src="images/services-2.jpg" alt="Hardware distribution, logistics and staging" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">hardware distribution,<br />logistics,<br />and staging</h2>
					<p class="main__featured-services-text">Top-tier suppliers of IT hardware and software, with necessary vendor-based certifications and robust relationships with technology vendors.</p>
					<a href="services"><button class="button button_blue">See more</button></a>
				</div>
			</div>
			<div class="main__featured-services-item">
				<img src="images/services-3.jpg" alt="Maintenance" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">maintenance</h2>
					<p class="main__featured-services-text">Providers of IT Maintenance covering a range of services relevant to post-implementation support of IT and networking hardware and software.</p>
					<a href="maintenance"><button class="button button_blue">See more</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="main__clients">
		<div class="main__clients-container">
			<img src="images/clients.png" alt="Clients" />
		</div>
		<a href="#" class="link">See more</a>
	</div>
	<div class="main__banner-2">
		<div class="main__banner-inner">
			<h2 class="main__title_small">[IT RESOURCES, <span>EVERYWHERE! ]</span></h2>
			<small class="main__subtitle_small">Latinamerica IT LLC</small>
		</div>
	</div>
	<div class="main__banner">
		<img src="images/banner-1.jpg" alt="We also aim at leading the Service to Business strategy." />
		<div class="main__banner-info">
			<h2 class="main__title">We also aim at leading the<br />Service to Business strategy.</h2>
			<p class="main__subtitle">Subtitle</p>
			<button class="button"><a href="#">About us</a></button>
		</div>
	</div>
</main>