<main class="main">
	<div class="main__featured">
		<h2 class="main__title">Our mission, professional services<br />within the Latinamerica region</h2>
		<p class="main__subtitle">Wide coverage and a huge recognition from our partners</p>
		<!-- <button class="button"><a href="#">Go to coverage</a></button> !-->
		<div class="main__featured-services">
			<div class="main__featured-services-item profesionalservices">
				<img src="images/services-1.jpg" alt="Professional services" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">professional services</h2>
					<p class="main__featured-services-text">IT field engineers.<br> Leading project engineers. <br>WiFi solutions.</p>
					<a href="services"><button class="button button_blue">See more</button></a>
				</div>
			</div>
			<div class="main__featured-services-item hardwaredistribution">
				<img src="images/services-2.jpg" alt="Hardware distribution, logistics and staging" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">hardware distribution,<br />logistics, and staging</h2>
					<p class="main__featured-services-text">Providing IT hardware and software managed </p>
					<a href="hardware"><button class="button button_blue">See more</button></a>
				</div>
			</div>
			<div class="main__featured-services-item maintenance">
				<img src="images/services-3.jpg" alt="Maintenance" />
				<div class="main__featured-services-item-container">
					<h2 class="main__featured-services-title">maintenance</h2>
					<p class="main__featured-services-text">Providers of IT Maintenance covering a range of services relevant to post-implementation support of IT and networking hardware and software.</p>
					<a href="maintenance"><button class="button button_blue">See more</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="main__clients">
		<div class="main__clients-container">
			<img src="images/clients.png" alt="Clients" />
		</div>
		<a href="#" class="link">See more</a>
	</div>
	<div class="main__banner-2">
		<div class="main__banner-inner">
			<h2 class="main__title_small">[IT RESOURCES, <span>EVERYWHERE! ]</span></h2>
			<small class="main__subtitle_small">Latinamerica IT LLC</small>
		</div>
	</div>
	<div class="main__banner">
		<img src="images/banner-1.jpg" alt="We also aim at leading the Service to Business strategy." />
		<div class="main__banner-info">
			<h2 class="main__title">A small highly specified team to attend your bussines, <br /> in order to deliver efective, dynamic, <br />agile and economic solutions.</h2>
			<p class="main__subtitle"></p>
			<button class="button"><a href="#">About us</a></button>
		</div>
	</div>
</main>