@font-face {
  font-family: 'TitilliumWebRegular';
  src: url("../fonts/TitilliumWebRegular.eot");
  src: url("../fonts/TitilliumWebRegular.eot") format("embedded-opentype"), url("../fonts/TitilliumWebRegular.woff2") format("woff2"), url("../fonts/TitilliumWebRegular.woff") format("woff"), url("../fonts/TitilliumWebRegular.ttf") format("truetype"), url("../fonts/TitilliumWebRegular.svg#TitilliumWebRegular") format("svg");
}

@font-face {
  font-family: 'TitilliumWebSemiBold';
  src: url("../fonts/TitilliumWebSemiBold.eot");
  src: url("../fonts/TitilliumWebSemiBold.eot") format("embedded-opentype"), url("../fonts/TitilliumWebSemiBold.woff2") format("woff2"), url("../fonts/TitilliumWebSemiBold.woff") format("woff"), url("../fonts/TitilliumWebSemiBold.ttf") format("truetype"), url("../fonts/TitilliumWebSemiBold.svg#TitilliumWebSemiBold") format("svg");
}

@font-face {
  font-family: 'InderRegular';
  src: url("../fonts/InderRegular.eot");
  src: url("../fonts/InderRegular.eot") format("embedded-opentype"), url("../fonts/InderRegular.woff2") format("woff2"), url("../fonts/InderRegular.woff") format("woff"), url("../fonts/InderRegular.ttf") format("truetype"), url("../fonts/InderRegular.svg#InderRegular") format("svg");
}

@font-face {
  font-family: 'KarlaRegular';
  src: url("../fonts/KarlaRegular.eot");
  src: url("../fonts/KarlaRegular.eot") format("embedded-opentype"), url("../fonts/KarlaRegular.woff2") format("woff2"), url("../fonts/KarlaRegular.woff") format("woff"), url("../fonts/KarlaRegular.ttf") format("truetype"), url("../fonts/KarlaRegular.svg#KarlaRegular") format("svg");
}

@font-face {
  font-family: 'KarlaBold';
  src: url("../fonts/KarlaBold.eot");
  src: url("../fonts/KarlaBold.eot") format("embedded-opentype"), url("../fonts/KarlaBold.woff2") format("woff2"), url("../fonts/KarlaBold.woff") format("woff"), url("../fonts/KarlaBold.ttf") format("truetype"), url("../fonts/KarlaBold.svg#KarlaBold") format("svg");
}

@font-face {
  font-family: 'Exo';
  src: url("../fonts/EXOREGULAR.ttf") format("truetype");
  src: url("../fonts/EXOREGULAR.eot") format("embedded-opentype"), url("../fonts/EXOREGULAR.woff2") format("woff2"), url("../fonts/EXOREGULAR.woff") format("woff"), url("../fonts/EXOREGULAR.ttf") format("truetype"), url("../fonts/EXOREGULAR.svg#EXOREGULAR") format("svg");
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  font-family: 'TitilliumWebRegular', Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

body {
  border-top: 0.125rem solid #52ab8d;
  background-image: url(../images/patterns/groovepaper/groovepaper.png);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  width: 1024px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #52ab8d;
  border: 0;
  border-radius: .3125rem;
  outline: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.button a {
  color: inherit;
}

.button_blue {
  background-color: #31bfd7;
}

.main__title {
  font-size: 2.1875rem;
  line-height: 1.11;
  margin-bottom: .4375rem;
}

.main .main__banner .main__title {
  text-align: right;
}

.main .button {
  float: right;
}

.main__title_nomargin {
  margin: 0;
}

.main__title_small {
  font-size: 1.5625rem;
}

.main__title-line {
  border-bottom: 1px solid #fff;
  font-size: .875rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.125rem;
  padding-bottom: .625rem;
}

.main__title-line.highlight {
  border-bottom-color: #52ab8d;
}

.main__subtitle {
  font-size: 1.0625rem;
  line-height: 1.52;
  margin-bottom: 1.5rem;
}

.main__subtitle_small {
  font-family: 'InderRegular', Helvetica, sans-serif;
  font-size: .75rem;
  text-transform: uppercase;
}

.main__link {
  font-size: .75rem;
  text-transform: uppercase;
  color: #52ab8d;
}

.main__banner-link {
  font-size: .75rem;
  text-transform: uppercase;
  color: #31bfd7;
}

.main__banner-link svg, .main__banner-link span {
  vertical-align: middle;
}

.main__banner-link span {
  margin-left: 1rem;
}

.link {
  font-size: .875rem;
  color: #52ab8d;
  text-transform: uppercase;
  padding-bottom: .25rem;
  border-bottom: 1px solid #52ab8d;
}

.input, .textarea, .select {
  width: 100%;
  border: 0.125rem solid #52ab8d;
  border-radius: .125rem;
  padding: .5rem .3125rem;
  margin-bottom: .625rem;
  font-size: .75rem;
}

.input-container {
  position: relative;
}

.input-container svg {
  position: absolute;
  top: .4375rem;
  right: .625rem;
}

.textarea {
  height: 8.125rem;
  margin-bottom: 0;
}

.label {
  background-color: #52ab8d;
  font-size: .75rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0 .3125rem;
}

.col-container {
  background-image: linear-gradient(to right, #000, #666);
  overflow: hidden;
  position: relative;
}

.col-container_jobs {
  background-image: none;
}

.col-container_about {
  min-height: 23.4375rem;
}

.col-container_about img {
  max-width: 112%;
}

.jobs {
  background: url(../images/banner-7.jpg) no-repeat 0 0/cover;
  margin-bottom: 2.8125rem;
}

.jobs .main__title {
  margin-bottom: 5.625rem;
}

.coverage {
  background: url(../images/banner-6.jpg) no-repeat #000 center;
  height: 23.375rem;
}

.coverage .main__title {
  text-shadow: 1px 1px 1px black;
}

.coverage__title {
  font-size: 2.1875rem;
  font-style: italic;
}

.coverage__text {
  font-size: 1.25rem;
  color: #666;
}

.col {
  float: left;
  width: 50%;
}

.highlight {
  color: #52ab8d;
}

.line-subtitle {
  background-color: #fff;
  font-size: 1.0625rem;
  text-transform: uppercase;
  position: relative;
}

.line-subtitle span {
  background-color: #fff;
  position: relative;
  z-index: 10;
  padding: 0 2.5rem;
}

.line-subtitle:after {
  content: '';
  border-top: 1px solid #52ab8d;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.success {
  font-size: .75rem;
  display: none;
}

.success svg {
  margin-right: .4375rem;
  vertical-align: middle;
}

.header {
  height: 8.75rem;
}

.header__logo {
  background-color: #fff;
  width: 12.375rem;
  height: 8.75rem;
  padding: .625rem;
  text-align: center;
  background: url(../images/latin_it_logo.svg) center center;
  background-size: 220%;
  background-color: #fff;
}

.header__nav {
  background-color: #fff;
  margin-top: 5.25rem;
  width: calc(100% - 12.375rem);
}

.header__nav__main, .header__nav__secondary, .header__logo, .header__nav, .header__nav-item, .header__nav__secondary-item {
  float: left;
}

.main {
  clear: both;
}

.header__nav-item {
  background-color: #52ab8d;
  color: #fff;
  margin: .125rem 0;
}

.header__nav-item a {
  font: .875rem/1.21 'TitilliumWebSemiBold', Helvetica, sans-serif;
  padding: 1.125rem 1rem;
  color: inherit;
  display: block;
  border-right: 1px solid #fff;
}

.header__nav-item a.active {
  background-color: #929497;
  color: #cbcbcb;
}

.header__nav__secondary-item {
  font-size: .875rem;
}

.header__nav__secondary-item a {
  padding: 1.125rem 1.25rem;
  display: block;
  color: inherit;
}

.header__nav__secondary-item a.active {
  color: #cbcbcb;
}

.header__nav__secondary-item a.active:after {
  content: '';
  display: block;
  border-bottom: 0.1875rem solid #31bfd7;
}

.header__topbar {
  position: absolute;
  top: .125rem;
  right: .625rem;
}

ul.header__topbar-item {
  display: none;
}

.header__topbar-item {
  background-color: #52ab8d;
  width: 2.5rem;
  height: 1.875rem;
  padding: .125rem .6875rem;
  float: left;
  overflow: hidden;
}

.header__topbar-item:first-child {
  background-color: #31bfd7;
}

.header__topbar-item:last-child {
  padding: .125rem .375rem;
  line-height: 1.3;
}

.header__topbar-item:last-child:after {
  /*content: '';*/
  border-left: .1875rem solid transparent;
  border-right: .1875rem solid transparent;
  border-top: .1875rem solid #fff;
  position: absolute;
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
}

.header__topbar-item:last-child a {
  font: .75rem/1 'KarlaBold', Helvetica, sans-serif;
  color: #fff;
}

.main__featured {
  background: url(../images/featured.jpg) no-repeat;
  background-color: #fafafa;
  overflow: hidden;
  padding: 4.625rem 4.6875rem 5rem;
}

.main__featured .main__title, .main__featured .main__subtitle, .main__featured .button {
  margin-left: 4.6875rem;
}

.main__featured-services {
  margin-top: 5.75rem;
}

.main__featured-services-item-container {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
  margin: auto;
  padding: .3125rem .625rem;
}

.main__featured-services-item {
  overflow: hidden;
  position: relative;
  float: left;
  max-width: 23.75rem;
  width: calc(33.33% - 1.5rem);
  margin-left: 2.1875rem;
}

.main__featured-services-item:first-child {
  margin-left: 0;
}

.main__featured-services-item .button {
  position: absolute;
  bottom: .375rem;
  right: .375rem;
}

.main__featured-services-item.profesionalservices {
  height: 310px;
}

.main__featured-services-item.hardwaredistribution {
  height: 310px;
}

.main__featured-services-item.maintenance {
  height: 310px;
}

.main__featured-services-item img {
  height: 310px;
  max-width: none;
  width: 310px;
}

.main__featured-services-title {
  font-size: 1.2rem;
  line-height: 1.18;
  height: 3.2rem;
  margin-bottom: .3125rem;
  border-bottom: 1px solid #31bfd7;
}

.main__featured-services-text {
  font: .85rem/1.4 'KarlaRegular', Helvetica, sans-serif;
}

.main__banner {
  position: relative;
  border-bottom: .1875rem solid #ffec00;
}

.main__banner-info {
  position: absolute;
  top: 50%;
  right: 10rem;
  transform: translateY(-50%);
  color: #fff;
}

.main__clients {
  background: url(../images/banner-2.jpg) no-repeat;
  height: 15.75rem;
  text-align: center;
  padding-top: 6.25rem;
}

.main__clients-container {
  background: rgba(0, 0, 0, 0.8);
  padding: .3125rem 1.25rem 1.25rem;
  display: table;
  margin: 0 auto 1.25rem;
}

.main__banner-2 {
  background: url(../images/banner-3.jpg);
  height: 13.6875rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.main__banner-2 .main__title_small span {
  color: #ffec00;
}

.main__banner-2 .main__subtitle_small {
  margin-top: 1.25rem;
}

.main__banner_maintenance {
  height: 10.9375rem;
  padding: 1.75rem;
}

.maintenance-inner {
  width: 51.875rem;
  margin: auto;
}

.maintenance-inner__text {
  float: left;
  width: 32.5rem;
  padding: 1.4375rem 2.8125rem 1.4375rem 0;
  text-align: left;
}

.maintenance-inner__text .main__subtitle {
  margin: 0;
}

.maintenance-inner__sla {
  float: left;
  width: 19.375rem;
  text-align: left;
}

.maintenance-inner__sla-item {
  border: 1px solid #fff;
  width: 5.875rem;
  height: 3.5rem;
  font-size: 1.0625rem;
  line-height: 3.2;
  margin: 0 .1875rem .625rem;
  text-align: center;
  display: inline-block;
}

.maintenance-inner__sla-item_double {
  width: 12.3125rem;
}

.main__banner_small {
  height: 6.5625rem;
}

.main__banner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-info {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50.2%);
  padding: 0 4.6875rem;
  color: #fff;
}

.main__banner_3 {
  background: url(../images/gray-bg.jpg);
  padding: 4rem 0 6rem 0rem;
  text-align: center;
  border-bottom: 0;
}

.main__banner_3 .main__subtitle {
  max-width: 34.375rem;
  margin: .5rem auto 0;
}

.main__banner_3 svg {
  position: relative;
  left: 24px;
  margin-bottom: 20px;
}

.main__banner_4 {
  background: url(../images/gray-bg-2.jpg);
  height: 34.563rem;
}

.main__banner_4 .main__banner-inner {
  max-width: 32.5rem;
}

.main__banner_4 hr {
  width: 5rem;
  margin: 1rem auto .75rem;
  border-top: 1px solid #52ab8d;
}

.main__banner_4 .main__subtitle {
  color: #666;
}

.company-info {
  overflow: hidden;
}

.company-info__title {
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 1.875rem 0;
  border-left: .125rem solid #fff;
}

.company-info__title:first-child {
  border-left: 0;
}

.company-info__inner {
  padding: 3.4375rem;
}

.company-info__inner svg {
  float: left;
}

.company-info__text {
  margin-left: 9.375rem;
  font: .9rem/1.5 'KarlaRegular', Helvetica, sans-serif;
  margin-bottom: .625rem;
}

.location {
  text-align: center;
  height: 13.4375rem;
  padding: 2.5rem 0;
}

.location__title, .location__address, .location__country {
  font-size: 1.0625rem;
}

.location__title {
  text-transform: uppercase;
  color: #52ab8d;
}

.location__address {
  margin-top: .4375rem;
  color: #fff;
}

.location__country {
  font-style: italic;
  color: #989898;
  display: block;
}

.services {
  padding: 3.125rem 5.625rem 6.6875rem;
  font-size: 0;
  min-height: 25rem;
  position: relative;
}

.services.maintenance {
  padding-top: 5rem;
}

.services__info {
  display: inline-block;
  vertical-align: top;
  max-width: 22.375rem;
  margin-left: 2.0625rem;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}

.services__info .main__title {
  text-transform: uppercase;
}

.services__info .main__subtitle {
  color: #666;
}

.services__info {
  top: 37%;
}

.services__info_maintenance {
  top: 50%;
}

.services__info_margin {
  margin-top: -4.375rem;
}

.services__info_hardware {
  top: 30%;
}

.services__item {
  background-color: rgba(255, 255, 255, 0.7);
  width: calc(33.33% - 1.875rem);
  height: 12rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 1.25rem;
  margin: 3.125rem .9375rem 0;
  border-bottom: .1875rem solid;
  border-image: linear-gradient(to right, white, #52ab8d) 100% 1;
}

.services__text {
  font: .9rem/1.5 'KarlaRegular', Helvetica, sans-serif;
}

.services__text span {
  font: 1.0625rem/1 'TitilliumWebRegular', Helvetica, sans-serif;
  color: #52ab8d;
}

.services__info-list {
  font-size: 1.0625rem;
  font-style: italic;
  color: #666;
  padding-left: 2.5rem;
}

.services__info-list li {
  list-style-type: disc;
  color: #52ab8d;
}

.services__info-list li span {
  color: #666;
}

.software-manufacturers {
  background-image: url(../images/patterns/irongrip/irongrip.png);
  text-align: center;
  padding: 3.4375rem 0;
  color: #fff;
}

.software-manufacturers > svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2.5rem;
}

.software-manufacturers__inner {
  display: inline-block;
  vertical-align: middle;
  width: 22.0625rem;
  border-top: 1px solid #52ab8d;
  border-bottom: 1px solid #52ab8d;
  padding: 1.875rem 0;
}

.software-manufacturers__inner svg {
  float: left;
  margin: .1875rem .625rem 0 2rem;
}

.software-manufacturers__inner span {
  width: 80%;
  text-align: left;
}

.software-manufacturers__inner span.float {
  float: left;
}

.software-manufacturers__inner .main__title:not(.highlight) {
  text-transform: uppercase;
}

.software-manufacturers__inner .main__subtitle {
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.software-manufacturers__inner .main__subtitle_padding {
  padding: 0 0 1.25rem 2.25rem;
}

.software-manufacturers__inner .main__subtitle:last-child {
  margin: 0;
}

.software-manufacturers__inner_right {
  text-align: right;
}

.distributors {
  background-color: #fff;
  border-bottom: .1875rem solid;
  border-image: linear-gradient(to right, white, #52ab8d) 100% 1;
  text-align: center;
  padding: 1.3125rem 2.0625rem 0;
  margin-top: 2.8125rem;
}

.distributors__list {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin: 1.25rem 0 1.875rem;
}

.distributors__list-item {
  font: .75rem/2 'KarlaRegular', Helvetica, sans-serif;
}

.job-form {
  background: url(../images/gray-bg.jpg);
  padding: 2.25rem 5.3125rem;
}

.job-form__form {
  margin-top: 1.25rem;
}

.job {
  padding: 0 3.75rem 2.25rem;
  text-align: center;
}

.job hr {
  border-top: 1px solid #b2b2b2;
  margin: 1.75rem auto 1.5625rem;
  width: 5.5rem;
}

.job-list {
  border: 1px solid #b2b2b2;
  padding: .9375rem 1.4375rem 1.75rem;
  margin-bottom: 2.25rem;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.job-list__inner {
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  text-align: left;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1000ms ease;
}

.job-list__inner.active {
  opacity: 1;
  pointer-events: auto;
}

.job-list__nav {
  position: absolute;
  top: .625rem;
  right: .625rem;
  font-size: .75rem;
  text-transform: uppercase;
  z-index: 10;
}

.job-list__title {
  margin-top: .625rem;
  text-transform: uppercase;
}

.job-list__description {
  font-size: .75rem;
}

.latin-info {
  font-size: 1.0625rem;
  text-align: left;
  margin-top: 1.25rem;
}

.company-subtitle {
  font: 1.0625rem/1 TitilliumWebSemiBold, sans-serif;
  margin-bottom: .625rem;
}

.footer {
  padding: 1.5625rem 4.6875rem;
  overflow: hidden;
}

.footer__col {
  width: 50%;
  border-top: 0.3125rem solid #52ab8d;
}

.footer__col .footer__col {
  border-top: 0;
  padding-top: 0;
}

.footer__col_contact {
  background-color: #f1f1f1;
  padding: 1rem;
}

.footer__col_contact .footer__text {
  margin-bottom: 1rem;
}

.footer__col_half {
  width: calc(25% - 1rem);
  margin-right: 1rem;
}

.footer__col, .footer__col_half {
  float: left;
  padding-top: .625rem;
}

.footer__title {
  font-size: 1.0625rem;
  color: #52ab8d;
}

.footer__title a {
  color: #52ab8d;
}

.footer__title_big {
  color: #000;
}

.footer__text {
  font-size: .75rem;
  line-height: 1.5;
  color: #000;
  display: block;
}

.footer__text_indent {
  padding-left: .75rem;
}

.bar {
  background-color: #333;
  clear: both;
  padding: 1rem 0;
  text-align: center;
  font-size: .875rem;
  color: #fff;
}
